//PAGE-LAYOUTS
#home


#philosophy
  margin-top: 40px
  margin-bottom: 40px
  position: relative
  z-index: $z-page


#membership
  background: transparentize(white, 0.5)
  height: 100vh
  position: relative
  z-index: $z-page
  display: flex
  align-content: center
  margin-bottom: -2vh



#equipment
  margin-top: -35vh
  height: 120vh


#testimonials
  position: relative
  blockquote
    padding: 2vh


#contact
  margin-top: 8vh
  margin-bottom: 0
  background: white
  position: relative
  z-index: $z-page
