//CONTENT-TEXT

.content-text
  background: white
  position: relative
  z-index: $z-page



#equipment .content-text
  top: 40%
  position: relative
  z-index: $z-caption
  padding: 20px
  color: white
  background: transparentize(white, 1)

#philosophy .content-text
  height: 100vh
  padding: 50px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  p
    width: 50vw
