//CONTENT-TEXT

.content-text
  background: $content-bg-color
  position: relative
  z-index: $z-page

#equipment .content-text
  top: 40%
  position: relative
  z-index: $z-caption
  padding: 15%
  color: $content-bg-color
  background: transparentize(white, 1)

#philosophy .content-text
  height: 100%
  padding: 50px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  p
    width: 50vw

#contact .content-text
  padding: 10vh
  h4
    margin: 4vh
    margin-bottom: 8vh
  p
    margin-bottom: 2vh


#contact .content-text .social
  margin: 10vw
  display: flex
  justify-content: center
  justify-content: space-around
  font-size: $base-size+1
  a
    color: $module-color
    &:hover
      color: $accent-color
      background: none

@media only screen and (max-width: 576px)
  #philosophy .content-text
    p
      width: 86vw
